mixin get(action, target)
  +form('GET', action, target)&attributes(attributes)
    block

mixin put(action, target)
  +form('PUT', action, target)&attributes(attributes)
    block

mixin post(action, target)
  +form('POST', action, target)&attributes(attributes)
    block

mixin delete(action, target)
  +form('DELETE', action, target)&attributes(attributes)
    block

mixin form(_method, action, target)
  -
    const { push, ...rest } = attributes;
    const methodOverride = _method != 'GET' && _method != 'POST';
  form(
    method=methodOverride ? 'POST' : _method,
    action=action,
    hx-target=target,
    hx-push-url=push ? 'true' : false
  )&attributes(rest)
    if methodOverride
      //- _method is from
        https://www.npmjs.com/package/fastify-method-override
      +hidden({ _method })
    block

mixin hidden(name, value)
  -
    if (value === undefined) {
      const object = name
      const key = Object.keys(object)[0]
      value = object[key]
      name = key
    }
  input(type='hidden', name=name, value=value)

noscript
  //- use the .script class as the opposite of the noscript element
  style.
    .script {
      display: none;
    }

include /fastify-mdc-pug/index
+mdc
  //- https://github.com/wscherphof/fastify-mdc-pug automatically provides the
    request object; request.htmx is from https://github.com/wscherphof/fastify-htmx
  if request.htmx
    //- for htmx-requests, skip the surrounding app, so that only the requested
      partial content is rendered; see
      https://pugjs.org/language/inheritance.html
    block main
  else
    //- use https://htmx.org/attributes/hx-boost/ (and forms around the buttons)
      to make it work without JavaScript as well
    +mdc-typography#model(
      element='div',
      hx-boost='true',
      hx-indicator='#progress'
    )
      nav
        +mdc-linear-progress#progress.htmx-indicator.script(indeterminate)
        .p
          +get('/', '#app')(push)
            +mdc-button('home')
          | &nbsp;
          //- request.auth is from
            https://github.com/wscherphof/fastify-cookie-auth
          if request.auth
            +get('/secret', 'main')(push)
              //- _hyperscript
              +mdc-button('show secret')(
                _=`
                    on showSecret from #model add @disabled
                    on hideSecret from #model remove @disabled
                `
              )
            | &nbsp;
            +delete('users/session')
              +mdc-button('logout')
          else
            +get('/users/post', 'main')(push)
              +mdc-button('register')
            | &nbsp;
            +get('/users/session', 'main')(push)
              +mdc-button('login')
        hr
      aside
      header
      main
        //- this block is what gets replaced by the extending templates of
          specific URLs
        block main
          if request.auth
            p Welcome #{ request.auth.email.split('@')[0] }
      footer
