include material/button

if authenticated
    p Welcome
else
    +textButton('register')(
        hx-get='/users/register'
        hx-target='#app'
        hx-push-url='true'
    )
    +raisedButton('login')(
        hx-get='/users/authenticate'
        hx-target='#app'
        hx-push-url='true'
    )
