include /pug-material-design/button

if request.htmx
    block app
else
    #model(hx-boost='true')
        nav
            form(
                action='/'
                hx-target='#app'
                hx-push-url='true'
                hx-headers='{"HX-Init": true}'
            ): +textButton('home')()
            if request.auth
                form(
                    action='/secret'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('show secret')(_=`
                        on showSecret from #model add @disabled
                        on hideSecret from #model remove @disabled
                    `)
                | 
                form(
                    method='POST'
                    action='users/signout'
                    hx-target='main'
                ): +textButton('logout')
            else
                form(
                    action='/users/signup'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('register')
                | 
                form(
                    action='/users/signin'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('login')
            hr
        aside
        header
        main
            block app
                if request.auth
                    p Welcome #{request.auth.email.split('@')[0]}
        footer
