mixin hidden(name, value)
  -
    if (value === undefined) {
      const object = name
      const key = Object.keys(object)[0]
      value = object[key]
      name = key
    }
  input(type='hidden', name=name, value=value)

mixin form(_method, action, target, push)
  - methodOverride = _method != 'GET' && _method != 'POST';
  - push = push ? 'true' : false;
  form(
    method=methodOverride ? 'POST' : _method,
    action=action,
    hx-target=target,
    hx-push-url=push
  )&attributes(attributes)
    if methodOverride
      //- _method is from
      //- https://www.npmjs.com/package/fastify-method-override
      +hidden({ _method })
    block

mixin get(action, target, push)
  +form("GET", action, target, push)&attributes(attributes)
    block

mixin put(action, target, push)
  +form("PUT", action, target, push)&attributes(attributes)
    block

mixin post(action, target, push)
  +form("POST", action, target, push)&attributes(attributes)
    block

mixin delete(action, target, push)
  +form("DELETE", action, target, push)&attributes(attributes)
    block

noscript
  //- use the .script class as the opposite of the noscript element
  style.
    .script {
      display: none;
    }

//- pug-material design automatically provides the request object
//- request.htmx is from https://github.com/wscherphof/fastify-htmx
if request.htmx
  //- for htmx-requests, skip the surrounding app, so that only the requested
  //- partial content is rendered; see
  //- https://pugjs.org/language/inheritance.html
  block main
else
  include /pug-material-design/button
  //- use https://htmx.org/attributes/hx-boost/ (and forms around the buttons)
  //- to make it work without JavaScript as well
  #model(hx-boost='true')
    nav
      +get("/", "#app", true)
        +textButton("home")
      | &nbsp;
      //- request.auth is from
      //- https://github.com/wscherphof/fastify-cookie-auth
      if request.auth
        +get("/secret", "main", true)
          //- _hyperscript
          +textButton("show secret")(
            _=`
                on showSecret from #model add @disabled
                on hideSecret from #model remove @disabled
            `
          )
        | &nbsp;
        +delete("users/session")
          +textButton("logout")
      else
        +get("/users/post", "main", true)
          +textButton("register")
        | &nbsp;
        +get("/users/session", "main", true)
          +textButton("login")
      hr
    aside
    header
    main
      //- this block is what gets replaced by the extending templates of
      //- specific URLs
      block main
        if request.auth
          p Welcome #{ request.auth.email.split("@")[0] }
    footer
