include /pug-material-design/button

//- pug-material design automatically provides the request object
if request.htmx
    //- for htmx-requests, skip the surrounding app, so that only the requested
    //- partial content is rendered; see
    //- https://pugjs.org/language/inheritance.html
    block app
else
    //- use https://htmx.org/attributes/hx-boost/ (and forms around the buttons)
    //- to make it work without JavaScript as well
    #model(hx-boost='true')
        nav
            //- pass the HX-Init header to force request.htmx to false in this
            //- special case
            form(
                action='/'
                hx-target='#app'
                hx-push-url='true'
                hx-headers='{"HX-Init": true}'
            ): +textButton('home')()
            //- request.auth is from
            //- https://github.com/wscherphof/fastify-cookie-auth
            if request.auth
                form(
                    action='/secret'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('show secret')(_=`
                        on showSecret from #model add @disabled
                        on hideSecret from #model remove @disabled
                    `)
                | 
                form(
                    method='POST'
                    action='users/session'
                    hx-target='main'
                )
                    //- _method is from
                    //- https://www.npmjs.com/package/fastify-method-override
                    input(type='hidden' name='_method' value='DELETE')
                    +textButton('logout')
            else
                form(
                    action='/users/create'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('register')
                | 
                form(
                    action='/users/session'
                    hx-target='main'
                    hx-push-url='true'
                ): +textButton('login')
            hr
        aside
        header
        main
            //- this block is what gets replaced by the partial content from
            //- htmx-requests
            block app
                if request.auth
                    p Welcome #{request.auth.email.split('@')[0]}
        footer
