include /material/button

if user
    p Welcome #{user.email.split('@')[0]}
    p
        +textButton('unveil')(
            hx-get='/secret'
            hx-target='#app'
            hx-push-url='true'
        )
    p
        +textButton('logout')(
            hx-post='/users/signout'
            hx-target='#app'
            hx-push-url='true'
        )
else
    p
        +textButton('register')(
            hx-get='/users/signup'
            hx-target='#app'
            hx-push-url='true'
        )
        | 
        +raisedButton('login')(
            hx-get='/users/signin'
            hx-target='#app'
            hx-push-url='true'
        )
