include /fastify-mdc-pug/index

noscript
  //- use the .script class as the opposite of the noscript element
  style.
    .script {
      display: none;
    }

mixin get(action, target)
  +form('GET', action, target)&attributes(attributes)
    block

mixin put(action, target)
  +form('PUT', action, target)&attributes(attributes)
    block

mixin patch(action, target)
  +form('PATCH', action, target)&attributes(attributes)
    block

mixin post(action, target)
  +form('POST', action, target)&attributes(attributes)
    block

mixin delete(action, target)
  +form('DELETE', action, target)&attributes(attributes)
    block

mixin hidden(name, value)
  -
    if (value === undefined) {
      const object = name
      const key = Object.keys(object)[0]
      value = object[key]
      name = key
    }
  input(type='hidden', name=name, value=value)

mixin form(_method, action, target)
  -
    const { push, ...rest } = attributes;
    const methodOverride = _method != 'GET' && _method != 'POST';
  form(
    method=methodOverride ? 'POST' : _method,
    action=action,
    hx-target=target,
    hx-push-url=push ? 'true' : false
  )&attributes(rest)
    if methodOverride
      //- _method is from
        https://www.npmjs.com/package/fastify-method-override
      +hidden({ _method })
    block
