extends /../views/app
block main
  +put('/users/password')
    +hidden({ token })
    p: +mdc-text-field(
      name='email',
      label='email',
      type='email',
      value=email,
      filled,
      disabled
    )
    p: +mdc-text-field(
      name='password',
      label='password',
      type='password',
      filled
    )
    p: +mdc-text-field(
      name='password2',
      label='confirm password',
      type='password',
      filled
    )
    p: +mdc-button('save')(raised)
